.item-lista {
    background-color: #828282;
    border-radius: 18px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .card-img {
        background-color: #282a36;
        border-radius: 18px;
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .img-projeto {
            padding: 10px;
            border-radius: 18px;
            max-width: 100%;
            max-height: 150px;
        }
    }
    .titulo-projeto {
        text-transform: capitalize;
        font-size: 20px;
    }
}