@import '../../global.scss';

#Contatos {
    position: relative;
    .lista-contatos {
        padding: 60px 0;
        justify-content: center;
        gap: 2%;
        .item-contato {
            color: $white;
            text-decoration: none;
            width: 60px;
            height: 60px;
            padding: 15px;
            border-radius: 100%;
            border: 1px solid $background;
            transition:
                background-color 0.3s,
                border 0.3s ease-in-out,
                fill 0.3s ease-in-out;
            .svg-icon {
                fill: $white;
                cursor: pointer;
                path {
                    cursor: pointer;
                }
            }
        }
        .linkedin {
            &:hover {
                background-color: #0a65c1;
            }
        }
        .github {
            &:hover {
                background-color: #000;
            }
        }
        .email {
            &:hover {
                background: conic-gradient(
                    #ea4335 0% 25%,
                    #4285f4 25% 50%,
                    #34a853 50% 75%,
                    #fbbc04 75% 100%
                );
            }
        }
    }
}
