#Projetos {
    position: relative;
    .container {
        padding: 60px 0;
        .lista {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
            width: 100%;
            @media (max-width: 425px) {
                grid-template-columns: 1fr;
            }
            @media (min-width: 426px) and (max-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}