#Projetos {
    position: relative;
    .container {
        padding: 60px 0;
        .lista {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
            width: 100%;
        }
    }
}