#Sobre {
    position: relative;
    .container {
        padding: 60px 0;
        .mensagem-sobre {
            width: 40%;
            .titulo {
                font-size: 40px;
                text-align: center;
                margin-bottom: 30px;
            }
            .mensagem {
                margin-bottom: 20px;
            }
        }
        .foto {
            width: 30%;
            img {
                width: 100%;
            }
        }
        @media (max-width: 768px) {
            flex-direction: column-reverse;
            .mensagem-sobre {
                width: 100%;
            }
            .foto {
                width: 40%;
            }
        }
    }
}