$background: #333;
$white: #fff;
$roxo: #9b51e0;

* {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $background;
    color: $white;
}

@mixin centralizarDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: 0 auto;

    @include centralizarDiv();
}

.float-right {
    float: right;
}

.btn-purple {
    background-color: $roxo;
    border-color: $roxo;
    border-radius: 8px;
    padding: 5px 20px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
    &:hover,
    &:focus {
        background-color: darken($roxo, 10%);
        border-color: darken($roxo, 10%);
    }
}
